#root {
  background-color: #efeef1;
  min-height: 100vh;
}
.App {
  text-align: center;
  height: 100%;
  max-width: 1400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2);
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.header {
  position: relative;
  background-color: #34145e;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}
nav {
  align-content: center;
  padding: 10px;
}
.header > nav > a {
  height: 70px;
  margin: 0px 20px;
  padding: 20px 0px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
}
.reg {
  background-image: url(https://www.whiterockcity.ca/ImageRepository/Document?documentId=3896);
  background-size: cover;
  height: 700px;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
form {
  /* margin: 100px 0 0 62%; */
  /* background-color: rgba(0, 0, 0, 0.123);
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 400px;
  margin: 10px auto;
}
.formreg{
  margin: 100px 0 0 62%; 
  background-color: rgba(0, 0, 0, 0.123);
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2); 
}
.cardList {
  width: 400px;
  margin: 20px;
  /* border: 1px solid #34145e; */
  border-radius: 10px;
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2);
  
}

.formList {
  display: flex;
  margin-right: 30%;
  margin-top: 10%;
}
.mapList {
  position: relative;
  left: 250px;
  top: -40px;
  height: 40px;
  background-color: #34145e;
}
.mapList > a {
  text-decoration: none;
  color: white;
}   type="submit"
.select {
  border-radius: 0;
  background: white;
  height: 34px;
  padding: 5px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  /* line-height: 1; */
  -webkit-appearance: none;
  width: 268px;
}
.inputFilter {
  border-radius: 0;
  background: white;
  height: 34px;
  padding: 5px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  width: 268px;
}
.btn-primary {
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #34145e;
  border-color: #34145e;
}
.btn-filt {
  margin: 1px 10px;
}
.logo {
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 5vw;
}
.footer {
  height: 150px;
  width: 100%;
  background-color: #34145e;
}
#h1-form {
  background-color: #34145e;
  color: white;
  font-size: 27px;
  border-radius: 5px 5px 0 0;
  padding: 9px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homeMain {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.maps-app {
  display: block;
  justify-content: center;
  flex-direction: column;
}

.loading-block {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.596);
}

img {
  border-radius: 10px;
  max-height: 260px;
 
}
.listHome {
  padding: 5px;
  /* margin: 2px; */
  /* border: 1px solid #34145e; */
  /* border-radius: 50px; */
  display: block;
  width: 20%;
}
.listHome > span {
  /* display: flex; */
  /* flex-direction: column; */
}
/* .listHome > img {
  float: left;
} */
.man {
  display:flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  position: relative;
  height: 300px;
  background-image: url("https://d17fnq9dkz9hgj.cloudfront.net/uploads/2019/11/searchAndMatchHero.jpg");
  background-size: cover;
  margin-bottom: 2%;
}
.h1 {
  /* position: relative; */
  top: 330px;
  color: white;
  padding-left: 50px;
}
.p1 {
  /* position: relative; */
  top: 330px;
  color: white;
  padding-left: 50px;
  font-size: 22px;
}
.b1 {
  /* position: relative; */
  top: 370px;
  margin-left: 50px;
  font-size: 15px;
}
.b1 > a {
  text-decoration: none;
  color: white;
}
.sds{
  /* position: relative; */
  right: -10%;
  display: flex;
  flex-wrap: wrap;
}
.float{
  margin: 5px;
}
.btn > a{
  color: white;
  text-decoration: none;
}
.btnAcc{
  margin: 20px;
}
.btnAcc{
}
#accH2{
  padding:20px;
}
.map{

}
.editFound{
  display: flex;
  flex-wrap: wrap;
}
#editImg {
 margin: 100px auto;
}
.btn-edit{
  width: 400px;
}
