#root {
  background-color: #efeef1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  min-height: 850px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.header {
  position: relative;
  background-color: #34145e;
  height: 100px;
  width: 100%;
  z-index: 1;
}
nav {
  display: grid;
  grid-template-columns: 25% auto 25%;
  width: 100%;
  height: 100%;
}

.header > nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > nav > div > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin: 0px 10px;
}

.logo {
  height: 95px;
  width: 95px;
}

.logo-text {
  border-radius: 0px;
  height: 100px;
}

.reg {
  background-image: url(./logos/form-picture.jpeg);
  background-size: cover;
  height: 700px;
  width: 100%;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
form {
  margin: 100px 0 0 62%; 
  background-color: rgba(0, 0, 0, 0.123);
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 400px;
  margin: 10px auto;
}
.formReg{
  margin: 100px 0 0 52%; 
  /* background-color: rgba(0, 0, 0, 0.123); */
  /* box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2);  */
}
.cardList {
  width: 400px;
  margin: 20px;
  /* border: 1px solid #34145e; */
  border-radius: 10px;
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2);
}

.formList {
  display: flex;
  margin-right: 30%;
  margin-top: 10%;
}
.mapList {
  position: relative;
  left: 250px;
  top: -40px;
  height: 40px;
  background-color: #34145e;
}
.mapList > a {
  text-decoration: none;
  color: white;
}

.select {
  border-radius: 0;
  background: white;
  height: 34px;
  padding: 5px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  /* line-height: 1; */
  -webkit-appearance: none;
  width: 268px;
}
.inputFilter {
  border-radius: 0;
  background: white;
  height: 34px;
  padding: 5px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  width: 268px;
}
.btn-primary {
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #34145e;
  border-color: #34145e;
}
.btn-filt {
  margin: 1px 10px;
}

#h1-form {
  color: black;
  font-size: 27px;
  border-radius: 5px 5px 0 0;
  padding: 9px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homeMain {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.maps-app {
  display: flex;
}

.map-container {
  width: 500px;
  margin: 10px;
}

.maps-list-container {
  margin: 10px;
}

.loading-block {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.596);
}

img {
  border-radius: 10px;
  max-height: 260px;
}
.listHome {
  padding: 5px;
  display: block;
  width: 20%;
}

.man {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 300px;
  background-image: url("./logos/searchAndMatchHero.jpg");
  background-size: cover;
  margin-bottom: 2%;
}
.h1 {
  color: white;
  padding-left: 50px;
}
.p1 {
  color: white;
  padding-left: 50px;
  font-size: 22px;
}
.b1 {
  margin-left: 50px;
  font-size: 15px;
}
.b1 > a {
  text-decoration: none;
  color: white;
}

.error-message {
  margin: 5px;
  color: rgb(221, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.123);
}

.footer {
  height: 150px;
  width: 100%;
  position: relative;
  bottom: -50px;
  background-color: #34145e;
  display: grid;
  grid-template-columns: 25% auto 35%;
}

.footer-text {
  display: flex;
  justify-content: center;
  color: grey;
  margin: 29px 20px;
}

.footer-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: grey;
  margin: 0px;
}

.footer-link > a {
  text-decoration: none;
  color: grey;
}
.footer-link > a:hover {
  color: white;
}

.footer-logos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-logos > img {
  height: 50px;
  margin: 5px;
}

.sds {
  right: -10%;
  display: flex;
  flex-wrap: wrap;
}
.float {
  margin: 5px;
}
.btn > a {
  color: white;
  text-decoration: none;
}
.btnAcc {
  margin: 20px;
}
#accH2 {
  padding: 20px;
}
.editFound {
  display: flex;
}
#editImg {
  margin: 100px auto;
}
.btn-edit {
  width: 400px;
}

.long {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0,0,0);
  width: auto;
  margin-left: 5%;
}
.btn-filter {
  background-color: #34145e;
}

.btn-map {
  margin-left: 65%;
  margin-top: -116px;
}
.advert {
  display: flex;
  margin: 50px;
  text-align: left;
  /* justify-content:  */
}
.dscp {
  position: relative;
  width: 250px;
  word-wrap: break-word;
}
  /* margin-left: 15%;
  margin-top: 0.3%; */
/* } */
@font-face {
  font-family: "OpenSans";
  src: url("../src/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../src/OpenSans-Bold.ttf");
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "OpenSans";
}

a,
span,
div {
  font-family: "OpenSans";
}

.mapwrap {
  width: 10%;
}

.account-main {
  align-self: flex-start;
}

.matches-found {
  align-self: flex-start;
}

.matches-lost {
  align-self: flex-start;
}
.list-group{
  text-align: left;
}
.btn-maps {
  margin-left: 60%;
}
.info-advert{
  border-radius: 20px;
  box-shadow: 0 8px 22px 12px rgba(0, 0, 0, 0.2);
}
.back{
 margin:50px;
width: 200px;
}